@media (max-width: 900px) {
    body{
        overflow-x: hidden;
    }
    img{display: none;
    
    }


    p {
        font-size: 15px;
        width: 25%;
    }
.button_home{
    margin-top: 20px;
}
    
}